<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.ServiceItemMapper">
    <insert id="insert" parameterType="org.example.entity.ServiceItem">
        insert into service_item (category_id, name, price, description, duration_minutes, status, create_time, update_time) VALUES
        (#{categoryId},#{name},#{price},#{description},#{durationMinutes},#{status},#{createTime},#{updateTime})
    </insert>
    <update id="update" parameterType="org.example.entity.ServiceItem">
        update service_item
        <set>
            <if test="categoryId!=null">category_id=#{categoryId},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="price!=null">price=#{price},</if>
            <if test="description!=null">description=#{description},</if>
            <if test="durationMinutes!=null">duration_minutes=#{durationMinutes},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
        </set>
        where id=#{id}
    </update>


    <select id="selectAll" resultType="org.example.entity.ServiceItem"
            parameterType="org.example.dto.AdminDTO.ServiceItemPageQueryDTO">
        select si.*,sc.name as categoryName from service_item  si left join service_category sc on si.category_id=sc.id
        <where>
            <if test="categoryId!=null">
                si.category_id=#{categoryId}
            </if>
        </where>
    </select>
    <select id="selectAllowed" resultType="org.example.entity.ServiceItem"
            parameterType="org.example.dto.AdminDTO.ServiceItemPageQueryDTO">
        select si.*,sc.name as categoryName
        from service_item  si
            left join service_category sc on si.category_id=sc.id
        <where>
            si.status=1
            <if test="categoryId!=null">
               and si.category_id=#{categoryId}
            </if>
        </where>
    </select>
    <select id="getByDetailId" resultType="org.example.entity.ServiceItem" parameterType="java.lang.Long">
        select si.*,
               sc.name as categoryName
        from service_item si
        left join service_category sc on si.category_id=sc.id
        <where>
            si.status=1
        and si.id=#{id}
        </where>
    </select>


</mapper>