<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.StaticsMapper">

    <select id="getMonthAndAmount" resultType="org.example.vo.OrderCountVO">
        select DATE_FORMAT(create_time,'%Y-%m') as month,
               count(*) as counts
        from service_order
        GROUP BY DATE_FORMAT(create_time, '%Y-%m')
        ORDER BY month
    </select>
    <select id="getStatusAndCount" resultType="org.example.vo.OrderStatusCountVO">
        select case order_status
        when 0 then '待接单'
        when 1 then '已接单'
        when 2 then '服务中'
        when 3 then '已完成'
        when 4 then '已取消'
        end as name,
        count(*) as value
        from service_order
        group by order_status
    </select>
    <select id="getWorkerRank" resultType="org.example.vo.WorkerRankVO">
        select w.name as workerName,
               count(so.id) as orderCount,
               w.rating
        from worker w
        inner join service_order so on w.id=so.worker_id
        group by w.id
        order by orderCount desc
    </select>
</mapper>