<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.WorkerAdminMapper">

    <!--更新工人数据库信息-->
    <update id="updateWorker" parameterType="org.example.entity.Worker">
        update worker
        <set>
            <if test="name!=null">name=#{name},</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="gender!=null">gender=#{gender},</if>
            <if test="skillDesc!=null">skill_desc=#{skillDesc},</if>
            <if test="serviceStatus!=null">service_status=#{serviceStatus},</if>
            <if test="latitude!=null">latitude=#{latitude},</if>
            <if test="longitude!=null">longitude=#{longitude},</if>
            <if test="rating!=null">rating=#{rating},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
        </set>
        where id=#{id}
    </update>
    <select id="getWorker" resultType="org.example.entity.Worker"
            parameterType="org.example.dto.WorkerAdminPageQueryDTO"></select>

</mapper>