<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.WorkerAdminMapper">
    <insert id="insert" parameterType="org.example.entity.Worker">
            insert into worker(name, phone, password, gender, skill_desc, service_status,
                           latitude, longitude, rating, status, create_time, update_time) VALUES
          (#{name},#{phone},#{password},#{gender},#{skillDesc},#{serviceStatus},#{latitude}
          ,#{longitude},#{rating},#{status},#{createTime},#{updateTime})
    </insert>

    <!--更新工人数据库信息-->
    <update id="updateWorker" parameterType="org.example.entity.Worker">
        update worker
        <set>
            <if test="name!=null">name=#{name},</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="gender!=null">gender=#{gender},</if>
            <if test="avatar!=null">avatar=#{avatar},</if>
            <if test="skillDesc!=null">skill_desc=#{skillDesc},</if>
            <if test="serviceStatus!=null">service_status=#{serviceStatus},</if>
            <if test="latitude!=null">latitude=#{latitude},</if>
            <if test="longitude!=null">longitude=#{longitude},</if>
            <if test="rating!=null">rating=#{rating},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
        </set>
        where id=#{id}
    </update>
    <select id="getWorker" resultType="org.example.entity.Worker"
            parameterType="org.example.dto.AdminDTO.WorkerAdminPageQueryDTO">
        select w.*,
               case w.service_status
                when 0 then '休息中'
                when 1 then '待接单'
                when 2 then '服务中'
                end as serviceStatusName,
            (select count(*) from service_order so where so.worker_id=w.id ) as orderCount
        from worker w
        <where>
            <if test="name!=null">
                name like concat('%',#{name},'%')
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
        </where>
    </select>
    <select id="getMoreByWorkerId" resultType="org.example.entity.Worker" parameterType="java.lang.Long">
        select w.*,
              (select count(*) from service_order
               where worker_id=w.id and order_status=3) as totalCompleted,
               (select count(*) from service_order
                where worker_id=w.id and order_status=3
        and DATE(finish_service_time) = CURDATE()) as todayCompleted
        from worker w
        where w.id=#{workerId}
    </select>

</mapper>